<h1>Company#disclaimer</h1>
<p>
	Under no circumstance does Jobsinghana.com post jobs or allow job postings that require registration fees. As such, all HR agencies or consultancies whose listings are posted are vetted and are from highly reputable organizations.

Calls from any entity that claim to have received resumes from postings on our site which require a fee registration are false and should be ignored.

We also do not send jobs by SMS so any job alert or notification received by SMS requesting payment or texting should be ignored.

We are also not affiliated with any other sites except a strategic partnership with Ghanaweb. As such any jobseeker who receives SMS Alerts from any organization requesting pay-to-access job listings should proceed with caution.

Jobsinghana.com is not affiliated with and has absolutely no relationship with these websites:

Jobberman
Joblist Ghana .
Jobhouse.org
GhanaCurrentJobs.com
Jobs.com.gh
Ghanaworkforce.com
Should you have any doubt or concern, kindly call us at (024) 3925110 or (0302) 760143 to seek clarification.
</p>
