<h1>faqs</h1>
<p>Welcome to Jobsinghana’s Frequently Asked Page. Find answers to your questions regarding account registration, job search, resumé posting, job alert, newsletter, and other questions you have below:

Account management

How do I open a free user account?
To post a resumé on Jobsinghana web site, you need to have a user account.
Please do as follows to sign up a free account:
From Jobsinghana’s home page, click Jobseekers.
On the Jobseekers’ page, click Sign Me Up at the bottom of the page.
When the activation request appears, an email with activation instructions has been sent to your mail box.
Check email and click the provided link to activate account.
I forgot my username and/or password, how do I retrieve it?

From sign in page, click Forgotten Password?
Fill in your registered email address and click Submit, you will receive an instruction email from us.
Open our email and click on the link provided, you will get to your log in info page.
You will see your username on the page. If you want to reset password, enter new password twice and click Save.
When the successful notice appears, your password has been changed successfully. You will also receive a confirmation email from us with new log in info. 
How do I change my password?

Click My Profile under My Shortcuts on your homepage.
Click Modify to change your password and click Save.
When the successful confirmation screen appears, your password has been changed. 
How do I edit my profile?

To change your contact details such as name, address, and other information:
Click My Profile under My Shortcuts on your homepage.
Click Modify to change all pertinent information and click Save.
When the successful confirmation screen appears, your password has been changed.
 How do I change my login email/password?

Click My Profile under My Shortcuts on your homepage.
Click Modify to change your email or password and click Save.
When the successful confirmation screen appears, your password has been changed. 
Why can’t I find Jobsinghana’s email which I am supposed to receive?

First of all, make sure the email address you have provided us was correct.
If your email service is a web based one (for example: Yahoo!Mail, Gmail etc.), please be sure to check the Bulk or Spam folder in email folder list.
To prevent this problem in the future, please consider any of the following solutions:
Add Jobsinghana to your Address or Contacts:
Yahoo!Mail: From your mail box, go to Addresses > Add Contact. On the next page, type Jobsinghana  in the Nickname field, and info@jobsinghana.com in the Email field, then click Save.
Gmail: From your mail box, go to Contacts > Create Contact. On the next page, type Jobsinghana in the Name field, and info@jobsinghana.com in the Primary Email field then click Save
Notify Jobsinghana email as NOT Bulk/Spam: When you find a Jobsinghana email in Bulk/Spam folder, please open the email and click on Not Spam on the menu.
Job Search

How do I search jobs on Jobsinghana.com?
Go to Search for Jobs box on the top of Jobsinghana’s home page, type one or more keywords that you expect to see in your target jobs, then click the Search button or press Enter key.
You can also select a relevant category to narrow down your search result.
To view details of a job listed in search result, click on the job title.
How do I apply for a job posted on Jobsinghana?
If you are interested in a job listing, you can click the job title to view job details. You can choose to apply online or apply manually.
To apply, you can choose one of two options:

Click the Apply Online button or Apply by Email button
Choose a resumé that you posted on Jobsinghana. If you have one resumé only, it is chosen by default.
Type your cover letter, tick the “Save this cover letter for later use” option if you wish.
Click Apply at the bottom of the page. When the confirmation screen appears, your application has been sent to the job poster.
To apply manually, please send an email to the job poster’s email address which is provided in job details. Specify the position you are applying in the Subject field and enclose your resumé and cover letter in attachement.
Can I view all jobs posted by a certain employer?
Yes. When you are viewing a job detail page, you can click View all jobs posted by this employer to view all jobs posted by the same employer. You can also click on their logo if they are featured in the Featured Employers, then go to Current Vacancies to have them all displayed.

Why are some companies featured on home page as Featured Employers?
These are companies with frequent and high recruitment demand, who pay to have their logo listed on Jobsinghana’s homepage so that they can attract more applicants. You can always send application to them even there is no opening at the moment.

I found some job listings which are no longer open, why are they still on Jobsinghana?

Usually a job listing on Jobsinghana is valid for 30 days or more, unless the employer wishes to cancel it earlier. During the course, they might find some suitable candidate to fill the post.
To avoid the mishap, you are advised to stay up-to-date with job openings. One good way is to sign up for our Job Alert .
Resumé Posting 
Why should I post my resumé on Jobsinghana?
Jobsinghana has employers who choose to search resumés rather than post jobs. Posting a resumé will significantly increase the opportunities of finding your dream job, while saving your time on job screening. It is useful to visit our Resource Center to see resumé writing tips before your start.

How do I post my resumé on Jobsinghana?
Please follow the steps below to post your resumé on Jobsinghana:

From Jobsinghana home page, click Post new resumé on the main menu.

Enter username/email address and password to sign in. If you haven’t registered a username and password yet, please click here to see how to get one. After successfully activating your new account, go back to first step.
On the next page, click on Upload resumé. Copy your pre-typed resumé (in MS Word file, for example) and paste to the field. Click Done to finish. When the Thank you screen appears, your resumé has been sent.
How do I check if my resumé has been posted successfully and gone live?

After you make the final click to send the resumé, make sure that you are prompted to the confirmation page stating that the task is successful. Within 24 hours, your resumé will be reviewed by Jobsinghana’s consultants. We reserve the right to approve or decline the resumé without notice.
You can always sign in the web site to view or check status of your resumé by following the steps below:
From Jobsinghana home page, Sign in with your username/email address and password.
Go to My Resumés to view if it’s been added into your portfolio.  
How do I upload photo to my resumé?
Uploading photo is optional when you post resumé. In case you post resumé without photo, you can always add photo at any time later on with the following instructions:

Go to My Career Center on the main menu and log in.

In the My Resumé section, click the title of the resumé you want to add photo.
On the resumé page, click Edit link next to Personal Information or Career Information.
Scroll down to Upload picture for your resumé at the bottom and click Browse to browse and attach photo.
Click Save button at the bottom to finish.
Please notice that your photo will be screened and approved by Jobsinghana consultants before it goes live. We only accept passport photo with optimal size and file size.
How do I modify or update my resumé?

After posting your resumé on Jobsinghana, you can always go to the web site to modify or update it no matter what status it is.
Login to your homepage
In the My Resumé section, click the title of the resumé you wish to modify.
Click Save button to save your changes. 
 
How do I delete my resumé?

Removing your resumé from Jobsinghana’s database is not recommended, even when you have found a job. You can make your resumé unsearchable and keep it in your homepage without being seen by any searcher. In case you decide to delete your resumé permanently, please do as follows:
Login into Jobseeker page.
Click My Resumé on the submenu to view your resumés.
Click Delete on the right of the resumé title, then click OK to confirm deletion.
How do I make my resumé searchable or non searchable?
Please note that all resumes are searchable , so consider showing the resumé that best suits your current career target.

My Job Alert
Why should I set up My Job Alert?

When time constraints limit your job search efforts, you might miss out on a great opportunity out there.
My Job Alert is a powerful tool for you to stay informed about the latest jobs on Jobsinghana. Instead of browsing pages of jobs on the web site or getting weekly updates, you can have your target jobs sent to your mail box RIGHT AFTER they are posted on Jobsinghana. Click here to learn how to set up My Job Alert.
How do I set up My Job Alert?
Log in to your homepage
In My Job Alert section, click Create New Job Alert.
On the set up page, type the keyword(s) that may appear in your target job ads.
Choose keyword match type in Job Must Match if you have more than one keyword.
Choose location.
Choose target industries. You can choose as many industries as you wish by holding down Ctrl key while you click.
Click Save at the bottom to finish.  
How do I edit or remove my Job Alert?
Based on the job alert emails you get from Jobsinghana, you may wish to modify keyword and job location in your Job Alert to get more suitable results. You can also remove your Job Alert at any time if you don’t want to get any more alert emails.

Follow the instructions below to edit your Job Alert: 

Go to your homepage on the Jobseekers’ page.
In My Job Alert section, click Manage My Job Alert.
Click Edit on the right of the Job Alert you wish to edit.
Modify keyword and location as you wish, then click Save to finish.</p>
