<h1>Services</h1>
<p>
Recruitment/Headhunting Process
We use a combination of methods to identify a large pool of potential candidates for each search project. These include searching in our extensive databases, networking, headhunting and proactively contacting and recruiting potential candidates. Based on our knowledge of your organization and specific position requirements

Permanent staffing
Our highly qualified team of partners has extensive experience across a wide cross-section of industries and almost any job you care to imagine. We focus on delivering the right kind of people for the job – whether it be filling positions at the boardroom or senior leadership levels, sourcing external candidates, benchmarking internal candidates, offering advice on retaining employees. 

Contracting and Interim Management (Outsourcing)
We understand companies’ need for flexibility in an environment of constantly changing needs and workloads. We therefore provide short-term staff, contractors and interim consultants specifically for those situations. We make sure companies have access to industry professionals when needed
</p>
