<% provide(:title, "About") %>

		<h1>About Us</h1>
		<p> 
Welcome to Jobsinghana.com, a leading career website

Jobsinghana.com is one of the leading recruitment websites in Ghana, matching jobseekers with jobs and employers with qualified candidates via the Internet. We offer premium recruiting services for several companies and thousands of jobseekers who utilize our job-posting and candidate resume databases.

For employers, Jobsinghana.com provides the fastest and most effective way to recruit top talent. Our services include online job posting, a searchable database of freshly updated CVs and candidates shortlisting..

Our clients, range from world-class multinational companies to local SMEs from a wide spectrum of industries and we look forward to providing these same premium services to your organization.

For job-seekers, Jobsinghana.com provides free access to all jobs and the best resources for career advancement. Available features include the Job Alert and Job Tracker tools.

We invite you to spend a few minutes reviewing and making use of all available services. For additional information or to inquire about customized recruiting programs, please feel free to contact us at (021) 760143 or (024) 3925110 or contact us at  here .

Our office is located at 59 Okodan St, Blue Gate district, Osu, Accra near Papaye.

Best regards,

Richard

Chief Executive Officer


 
		</p>