<!-- <%= render 'shared/banner' %> -->

<div class="row">
	<div class="col-md-4">
		<ul class="sidebar-list">
		

<div class="container-fluid">
      				
              					<!-- Opret dig nu på Monster START -->
<div class="widget">
  <div class="widget-head">
    <div class="marked-title">
      <h2><span class="fa fa-newspaper-o"></span>Sign up @ Jobportal.com</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content"> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3><a href="https://login.monster.dk/Become-Member/Create-Account?intcid=swoop_Widget_Opret_dig_nu_pa_Monster_Lat_jobben_hitta_dig">Let the dream job find you!</a></h3>
        <p>Join Jobportal today and match your resume with the jobs that suits you best!</p>
        <p><li><%= link_to "Sign up now", new_user_registration_path, class: "btn btn-default" %></li></p>
      </div>
    </div>
  </div>
</div>
<!-- Opret dig nu på Monster END -->

              					<!-- Følg Monster på Twitter START -->
<div class="widget">
  <div class="widget-head">
    <div class="marked-title">
      <h2><span class="fa fa-newspaper-o"></span>Follow Jobportal on Facebook</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content"> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Follow the flow of recent jobs, events and career advice. Subscribe to Jobportal through your favorite social network</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="https://twitter.com/MonsterDanmark?intcid=swoop_Widget_Folg_Monster_pa_Twitter_Twitter" target="_blank" title="Twitter">
          <i class="fa fa-twitter-square fa-3x" style="color:rgb( 0,172,237);"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Følg Monster på Twitter END -->
      					
      </ul>
	</div>



              					<!-- BROWSE JOBS START -->
<div class="widget browseJobs widget-de hidden-xs">
  <div class="widget-head">
    <div class="marked-title">
       <h2><i class="fa fa-list"></i>Find jobs by category</h2>
    </div>
    
  </div>
  <div class="widget-content">

    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Administration-kontor_4?intcid=swoop_BrowseJobs_Administration" rel="nofollow">Administration</a></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6"><a href="http://jobsoeg.monster.dk/Virksomhedsydelser-andet_3?intcid=swoop_BrowseJobs_Andre_virksomheder" rel="nofollow">Other companies</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Byggeri-h%C3%A5ndv%C3%A6rk_4?intcid=swoop_BrowseJobs_Byggeri-handvark" rel="nofollow">Industry / Craft</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Detailhandel_3?intcid=swoop_BrowseJobs_Detailhandel" rel="nofollow">Retail</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Finansiering-og-regnskab_4?intcid=swoop_BrowseJobs_Finans-Regnskab" rel="nofollow">Finance / Accounting</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Forskning-og-udvikling-videnskab_4?intcid=swoop_BrowseJobs_Forskning-Videnskap" rel="nofollow">Research / Fieldwork</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Bespisning-indkvartering_4?intcid=swoop_BrowseJobs_Hotel-Restaurang" rel="nofollow">Hotel / Restaurants</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Ingeni%C3%B8rarbejde_4?intcid=swoop_BrowseJobs_Ingenior" rel="nofollow">Engineer</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Installation-vedligeholdelse-reparation_4?intcid=swoop_BrowseJobs_Installation-Reparation" rel="nofollow">Installation / Repair</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/IT-softwareudvikling_4?intcid=swoop_BrowseJobs_IT-softwareudvikling" rel="nofollow">IT / Software</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Journalistik_4?intcid=swoop_BrowseJobs_Journalistik" rel="nofollow">Journalism</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Juridisk_4?intcid=swoop_BrowseJobs_Juridik" rel="nofollow">Law</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Kreativ-funktion-design_4?intcid=swoop_BrowseJobs_Kreativ_funktion-Design" rel="nofollow">Creative work/Design</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Kundesupport-kundepleje_4?intcid=swoop_BrowseJobs_Kundservice" rel="nofollow">Municipality</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Kvalitetssikring-sikkerhed_4?intcid=swoop_BrowseJobs_Kvalitetssikring" rel="nofollow">Quality assurance</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Ledelse-Management_4?intcid=swoop_BrowseJobs_Ledelse-Management" rel="nofollow">Leadership / Management</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Logistik-transport_4?intcid=swoop_BrowseJobs_Logistik-transport" rel="nofollow">Logistics / Transportation</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Markedsf%C3%B8ring_4?intcid=swoop_BrowseJobs_Markedsforing" rel="nofollow">Marketing</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Personale_4?intcid=swoop_BrowseJobs_Personale-HR" rel="nofollow">Personnel / HR</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Produktion-drift_4?intcid=swoop_BrowseJobs_Produktion-drift" rel="nofollow">Production / Operations</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Projekt-programstyring_4?intcid=swoop_BrowseJobs_Projektledelse" rel="nofollow">Project Management</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/job/Salgs-forretningsudvikling_4?intcid=swoop_BrowseJobs_Salg" rel="nofollow">Sales</a></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6"><a href="http://jobsoeg.monster.dk/Sikkerhed-og-overv%C3%A5gning_3?intcid=swoop_BrowseJobs_Sikkerhed-Overvagning" rel="nofollow">Security / Surveillance</a></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6"><a href="http://jobsoeg.monster.dk/Telekommunikation_3?intcid=swoop_BrowseJobs_Telekommunikation" rel="nofollow">Telecommunications</a></div>
</div>
  </div>
<script type="text/javascript">
  $(function() {
    $(".browseJobs a").click(function() {
    var openurl = $(this).attr('href');
     s.tl(this,'o','Browse Jobs: '+ $(this).text());
    setTimeout(
      function(){
        window.location.href = openurl;
      },150+ ( 1 * 1 )
    );  
    return false;
    });
  });
</script>
<!-- BROWSE JOBS END -->
              				
              					<!-- ADVICE FOR SEEKER START -->
<div class="widget seekeradvice widget-de hidden-xs">
  <div class="widget-head">
    <div class="marked-title">
      
      <h2><span class="fa fa-database"></span>Career Advice</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
  <div class="row">
    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
      <a target="_blank" href="http://karriereradgivning.monster.dk/CV-og-breve/careers.aspx?intcid=swoop_Widget_Karriereradgivning_CV_Tips_Image"><img class="img-responsive" src="//media.newjobs.com/dege/b2c/www20/niche-icon-cvtipps.png" alt="CV Tips" title="CV Tips">
      </a>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-9 col-lg-4">
    <h3><a target="_blank" href="http://karriereradgivning.monster.dk/CV-og-breve/careers.aspx?intcid=swoop_Widget_Karriereradgivning_CV_Tips">CV Tips</a></h3>
    <p>Tips on writing a resume ad personal letter</p>
    </div>
    <div class="clearfix topbuffer visible-xs visible-md"></div>
    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
    <div class="topbuffer visible-xs"></div>
      <a target="_blank" href="http://karriereradgivning.monster.dk/jobsamtale/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Jobsamtale_Image"><img class="img-responsive" src="//media.newjobs.com/dege/b2c/www20/niche-icon-salary2.png" title="Jobsamtale" alt="Jobsamtale"></a>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-9 col-lg-4">
    <div class="topbuffer visible-xs"></div>
    <h3><a target="_blank" href="http://karriereradgivning.monster.dk/jobsamtale/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Jobsamtale">Job Interviews</a></h3>
    <p>Preparing for a job interview</p>
    </div>
  </div>
  <div class="clearfix topbuffer"></div>
  <div class="row">
    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
            <a target="_blank" href="http://karriereradgivning.monster.dk/strategi-for-jobsogning/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Strategi_Image"><img class="img-responsive" src="//media.newjobs.com/dege/b2c/www20/niche-icon-salarycheck.png" title="Strategi for jobsøgning" alt="Strategi for jobsøgning"></a>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-9 col-lg-4">
        <h3><a target="_blank" href="http://karriereradgivning.monster.dk/strategi-for-jobsogning/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Strategi">Strategy</a></h3>
        <p>Tips on how to search for a job</p>
    </div>
    <div class="clearfix topbuffer visible-xs visible-md"></div>
    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
    <div class="topbuffer visible-xs"></div>
          <a target="_blank" href="http://karriereradgivning.monster.dk/karriereudvikling/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Karriereudvikling_Image"><img class="img-responsive" src="//media.newjobs.com/dege/b2c/www20/niche-icon-interview.png" title="Karriereudvikling" alt="Karriereudvikling"></a>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-9 col-lg-4">
    <div class="topbuffer visible-xs"></div>
        <h3><a target="_blank" href="http://karriereradgivning.monster.dk/karriereudvikling/careers.aspx?intcid=swoop_Widget_Karriereradgivning_Karriereudvikling">Career development</a></h3>
        <p>How do you follow up on your development talk with your employer</p>
    </div>
  </div>
    </div>
</div>
<!-- ADVICE FOR SEEKER END -->
              					
              					
      					</div>
      					<div class="col-xs-12 col-md-4 col-lg-3 right-rail">
      						<div class="row">
      						            				
            				            						
              						<div class="col-xs-12 col-sm-6 col-md-12">
              						<div class="widget-noborder">
	<script type="text/javascript">	
	generateMnstAd({
		adSize: "300x250",
		adPlaceQstgring: "@Right,Position1,Right1,Bottom1!Right",
		adDomain: "dk.monster.dk",
		adPagePath: "homepage",
		adType: "sx",
		adSite: "dkdk"
	});
	</script>
</div>
              						</div>
            				            						
              						<div class="col-xs-12 col-sm-6 col-md-12">
              						<!-- Monster er mobil! START -->
<div class="widget">
  <div class="widget-head">
    <div class="marked-title">
      <h2><span class="fa fa-bullseye"></span>Jobportal on mobile!</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content"> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Try the Jobportal app for Android. Download Jobportal app for Android for free. Search jobs on the go!</p>
      <p><a href="http://karriereradgivning.monster.dk/strategi-for-jobsogning/kom-igang/android-app/article.aspx?intcid=swoop_Widget_Monster_er_mobil_Monster_til_Android" class="btn btn-default"> Jobportal for Android</a></p>
      <p>Search jobs in a whole new way with Jobportal app for iPhone and iPad.</p>
      <p><a href="http://karriereradgivning.monster.dk/strategi-for-jobsogning/kom-igang/iphone-app/article.aspx?intcid=swoop_Widget_Monster_er_mobil_Monster_til_iPhone" class="btn btn-default">Jobportal for iPhone</a></p>
      
      </div>
    </div>
  </div>
</div>
<!-- Monster er mobil!  END -->
              						</div>
            				            				
            				</div>
      					</div>
      				</div>
      			</div>
  
      
      
      

  
    